/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 31, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 33, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 37, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 39, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 41, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 45, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 11, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 18, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 23, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
}

/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
td, td img {
  vertical-align: top;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
}

/* line 57, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 62, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 72, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 73, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 74, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 79, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 84, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 91, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 92, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 97, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 108, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 112, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 114, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 119, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 9, ../../../app/stylesheets/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
  font-family: "droid-sans-1", "droid-sans-2", sans-serif;
}

/* line 16, ../../../app/stylesheets/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "droid-serif-1", "droid-serif-2", serif;
  font-weight: bold;
}

/* line 23, ../../../app/stylesheets/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
  text-decoration: none;
}

/* line 24, ../../../app/stylesheets/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 26, ../../../app/stylesheets/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 30, ../../../app/stylesheets/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 39, ../../../app/stylesheets/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: red 0 0 5px 0;
  -webkit-box-shadow: red 0 0 5px 0;
  -o-box-shadow: red 0 0 5px 0;
  box-shadow: red 0 0 5px 0;
}

/* line 44, ../../../app/stylesheets/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 58, ../../../app/stylesheets/partials/_page.scss */
#top-nav {
  padding: 15px;
  text-align: right;
}

/* line 63, ../../../app/stylesheets/partials/_page.scss */
#container {
  margin: 0 auto 30px;
  width: 970px;
  padding: 0px;
}

/* line 67, ../../../app/stylesheets/partials/_page.scss */
#header {
  width: 970px;
  margin: auto;
  min-height: 120px;
}

/* line 73, ../../../app/stylesheets/partials/_page.scss */
#main {
  padding: 20px;
  min-height: 450px;
}
/* line 75, ../../../app/stylesheets/partials/_page.scss */
#main p {
  font-size: 0.8em;
}
/* line 77, ../../../app/stylesheets/partials/_page.scss */
#main #join-button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
}
/* line 7, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#main #join-button {
  *display: inline;
}
/* line 75, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
#main #join-button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}

/* line 83, ../../../app/stylesheets/partials/_page.scss */
.clearfix {
  display: block;
}

/* START General Styles */
/* line 90, ../../../app/stylesheets/partials/_page.scss */
BODY {
  font-size: 14px;
  position: relative;
  width: 100%;
  margin: 0;
  height: 100%;
  color: #5F5F5F;
}

/* line 99, ../../../app/stylesheets/partials/_page.scss */
TABLE {
  font-size: inherit;
  font: 100%;
}

/* line 108, ../../../app/stylesheets/partials/_page.scss */
PRE,
CODE,
KBD,
SAMP,
TT {
  /* Bump up IE to get to 13px equivalent */
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/* line 115, ../../../app/stylesheets/partials/_page.scss */
H1 {
  /*18px*/
  font-size: 138.5%;
}

/* line 120, ../../../app/stylesheets/partials/_page.scss */
H2 {
  /*16px*/
  font-size: 123.1%;
}

/* line 125, ../../../app/stylesheets/partials/_page.scss */
H3 {
  /*14px*/
  font-size: 108%;
}

/* line 130, ../../../app/stylesheets/partials/_page.scss */
H4 {
  font-size: 100%;
}

/* line 134, ../../../app/stylesheets/partials/_page.scss */
H5 {
  font-size: 100%;
}

/* line 138, ../../../app/stylesheets/partials/_page.scss */
H1, H2, H3, H4, H5, H6, strong {
  font-weight: bold;
}

/* line 142, ../../../app/stylesheets/partials/_page.scss */
EM {
  font-style: italic;
}

/* line 146, ../../../app/stylesheets/partials/_page.scss */
UL LI, OL LI {
  padding: 5px 0;
}

/* line 150, ../../../app/stylesheets/partials/_page.scss */
INPUT[type=password] {
  /* setting a consistent width, 160px; */
  width: 14.25em;
}

/* line 155, ../../../app/stylesheets/partials/_page.scss */
INPUT[type=text] {
  /* setting a consistent width, 160px; */
  width: 14.25em;
}

/* line 160, ../../../app/stylesheets/partials/_page.scss */
TEXTAREA {
  width: 25.25em;
  *width: 24.9em;
  height: 8.0em;
  padding: 5px;
}

/* line 167, ../../../app/stylesheets/partials/_page.scss */
TABLE {
  border-collapse: collapse;
}

/* line 174, ../../../app/stylesheets/partials/_page.scss */
INPUT[type=text],
INPUT[type=password],
INPUT[type=button],
INPUT[type=submit], SELECT {
  border: 1px solid;
  padding: 2px 0 2px 5px;
}

/* line 179, ../../../app/stylesheets/partials/_page.scss */
INPUT[type=checkbox] {
  margin-right: 7px;
  border: 1px solid #DCDBDB;
}

/* line 184, ../../../app/stylesheets/partials/_page.scss */
SELECT {
  padding: 1px 0 1px 3px;
}

/* line 188, ../../../app/stylesheets/partials/_page.scss */
BR, .clear {
  /*clear:both;*/
  font-size: 1px;
  line-height: 1px;
}

/* line 194, ../../../app/stylesheets/partials/_page.scss */
IMG {
  border: 0;
}

/* line 198, ../../../app/stylesheets/partials/_page.scss */
FORM {
  margin: 0;
  padding: 0;
}

/* line 203, ../../../app/stylesheets/partials/_page.scss */
TEXTAREA {
  font: 1em Trebuchet, Helvetica, sans-serif;
}

/* line 207, ../../../app/stylesheets/partials/_page.scss */
A {
  color: #1C6DD2;
  text-decoration: underline;
  cursor: pointer;
}

/* line 213, ../../../app/stylesheets/partials/_page.scss */
.mainHilite {
  font-size: 18px;
  color: #1CB6D2;
  font-weight: bold;
}

/* line 219, ../../../app/stylesheets/partials/_page.scss */
.mainNormal {
  font-size: 18px;
  color: #9E9E9E;
  font-weight: bold;
}

/* line 225, ../../../app/stylesheets/partials/_page.scss */
.line {
  border-top: 1px dashed #B9B9B9;
  height: 1px;
  margin: 10px 0;
}

/* line 231, ../../../app/stylesheets/partials/_page.scss */
SPAN.notAvailableIcon {
  background: url(../images/smallIcons.png) no-repeat -19px -6px;
  width: 15px;
  height: 10px;
  display: inline-block;
  margin: 0 4px;
}

/* line 239, ../../../app/stylesheets/partials/_page.scss */
SPAN.availableIcon {
  background: url(../images/smallIcons.png) no-repeat -2px -2px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: -2px 4px 0;
  padding-top: 4px;
}

/* line 248, ../../../app/stylesheets/partials/_page.scss */
SPAN.messageIcon {
  background: url(../images/smallIcons.png) no-repeat -40px -5px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: -2px 4px 0;
  padding-top: 4px;
}

/* line 257, ../../../app/stylesheets/partials/_page.scss */
A.iconLink {
  text-decoration: none;
}

/* line 261, ../../../app/stylesheets/partials/_page.scss */
.breakLine {
  display: block;
  padding: 8px 0 0;
}

/* line 266, ../../../app/stylesheets/partials/_page.scss */
ol, ul {
  list-style: none outside none;
}

/* line 270, ../../../app/stylesheets/partials/_page.scss */
.freeContent {
  padding: 10px 0 20px;
}

/* line 274, ../../../app/stylesheets/partials/_page.scss */
.steps {
  padding: 0 4px 20px;
}

/* line 278, ../../../app/stylesheets/partials/_page.scss */
OL.steps {
  list-style-type: decimal;
  color: #1CB6D2;
  font-weight: bold;
  list-style-position: inside;
}

/* line 285, ../../../app/stylesheets/partials/_page.scss */
OL.steps LI SPAN {
  color: #666;
  font-weight: normal;
}

/* line 290, ../../../app/stylesheets/partials/_page.scss */
P {
  padding: 2px 0;
}

/* line 294, ../../../app/stylesheets/partials/_page.scss */
.txtModel {
  padding: 0 20px;
}

/* line 298, ../../../app/stylesheets/partials/_page.scss */
.txtModel P {
  text-align: justify;
  padding: 8px 0;
}

/* line 303, ../../../app/stylesheets/partials/_page.scss */
.txtModel H2 {
  padding: 20px 0 0;
}

/* line 307, ../../../app/stylesheets/partials/_page.scss */
.activeStatus {
  text-transform: uppercase;
  color: #08A800;
  font-weight: bold;
  font-style: italic;
}

/* END General Styles */
/* START Header Styles */
/* line 318, ../../../app/stylesheets/partials/_page.scss */
.headerTop {
  border-bottom: 4px solid #6295D5;
  padding-bottom: 5px;
  background-image: url("/images/box_gradientBlue_bg.png");
  height: 76px;
}

/* line 326, ../../../app/stylesheets/partials/_page.scss */
.headerTop .logo {
  float: left;
}

/* line 330, ../../../app/stylesheets/partials/_page.scss */
.headerTop .logo IMG {
  margin: 10px 10px 10px 15px;
}

/* line 334, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent {
  float: right;
}

/* line 338, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .headerSecNav {
  height: 52px;
}

/* line 342, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .headerSecNav UL {
  float: right;
}

/* line 346, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .headerSecNav UL LI {
  float: left;
  color: #959595;
  border-left: 1px solid #9E9E9E;
  padding: 0 8px;
  margin: 20px 0;
}

/* line 354, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .headerSecNav UL LI.first {
  border-left: none;
}

/* line 358, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .headerSecNav.noLogued UL LI.first.login {
  background: url(/images/smallIcons.png) no-repeat -63px -5px;
  padding-left: 15px;
}

/* line 363, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .headerSecNav UL LI A {
  font-size: 11px;
  color: #9E9E9E;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
}

/* line 371, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .headerSecNav.noLogued UL LI A {
  font-weight: bold;
  text-transform: capitalize;
}

/* line 376, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .headerSecNav UL LI A:hover {
  text-decoration: underline;
}

/* line 380, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .search SPAN.mainHilite, .headerTop .headerRightContent .search INPUT {
  float: left;
}

/* line 384, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .search SPAN.mainHilite {
  margin: 7px 0 5px;
}

/* line 388, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .search INPUT {
  margin: 7px 10px 5px;
  border: 1px solid #1CB6D2;
  color: #5F5F5F;
}

/* line 394, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .search SPAN.hiliteButton {
  margin: 0 0 5px;
}

/* line 398, ../../../app/stylesheets/partials/_page.scss */
.headerTop .headerRightContent .search SPAN.hiliteButton INPUT {
  margin: 0!important;
  border: none !important;
  color: #FFF !important;
}

/* line 404, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav {
  width: 100%;
  background: #1CB6D2;
  font-size: 11px;
  text-align: left;
  border-top: 1px solid #FFF;
  min-height: 33px;
  position: relative;
}

/* line 414, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav .left {
  background: #1cb6d2 url(/images/backgrounds.png) no-repeat;
  height: 33px;
  width: 7px;
  left: 0;
  position: absolute;
  bottom: 0;
}

/* line 423, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav .right {
  background: #1cb6d2 url(/images/backgrounds.png) no-repeat -7px;
  height: 33px;
  width: 7px;
  right: 0;
  position: absolute;
  bottom: 0;
}

/* line 432, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav UL {
  margin: 10px;
}

/* line 436, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav UL LI {
  float: left;
  color: #FFF;
  border-left: 1px solid #FFF;
  padding: 0 12px;
  font-weight: bold;
}

/* line 444, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav UL LI A {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 450, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav UL LI A:hover {
  text-decoration: underline;
}

/* line 454, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav UL LI.first {
  border-left: none;
}

/* line 458, ../../../app/stylesheets/partials/_page.scss */
.headerMainNav P {
  margin: 10px 20px;
  color: #FFF;
  font-size: 12px;
}

/* END Header Styles */
/* START Content Styles */
/* line 468, ../../../app/stylesheets/partials/_page.scss */
#content {
  width: 970px;
  margin: auto;
  background: #FFF;
  min-height: 450px;
}

/* line 475, ../../../app/stylesheets/partials/_page.scss */
.firstCol, .lastCol, .midCol {
  padding: 20px 0;
}

/* line 479, ../../../app/stylesheets/partials/_page.scss */
.singleCol .firstCol {
  width: 970px;
  display: block;
}

/* line 484, ../../../app/stylesheets/partials/_page.scss */
.col2 .firstCol {
  width: 700px;
  margin: 0 20px 0 0;
  float: left;
}

/* line 490, ../../../app/stylesheets/partials/_page.scss */
.col2 .lastCol {
  width: 250px;
  float: left;
  margin: 0;
}

/* line 496, ../../../app/stylesheets/partials/_page.scss */
.col2b .firstCol {
  width: 250px;
  margin: 0 20px 0 0;
  float: left;
}

/* line 502, ../../../app/stylesheets/partials/_page.scss */
.col2b .lastCol {
  width: 700px;
  float: left;
  margin: 0;
}

/* line 508, ../../../app/stylesheets/partials/_page.scss */
.col3 .firstCol {
  width: 250px;
  float: left;
  margin: 0;
}

/* line 514, ../../../app/stylesheets/partials/_page.scss */
.col3 .midCol {
  width: 430px;
  margin: 0 20px 0;
  float: left;
}

/* line 520, ../../../app/stylesheets/partials/_page.scss */
.col3 .lastCol {
  width: 250px;
  float: left;
  margin: 0;
}

/* line 526, ../../../app/stylesheets/partials/_page.scss */
.hiliteContent {
  background: url(/images/bg_grayBottom.gif) repeat-x bottom;
  min-height: 300px;
}

/* line 531, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer {
  width: 784px;
  margin: 20px auto 0;
}

/* line 536, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer .signUpBuyer {
  float: left;
  width: 380px;
}

/* line 541, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer .signUpProvider {
  float: right;
  width: 380px;
}

/* line 546, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer .signUpBuyer .gradientBlue, .hiliteContainer .signUpProvider .gradientDarkBlue {
  border-bottom: none;
}

/* line 550, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer .signUpBuyer P, .hiliteContainer .signUpProvider P {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 10px;
}

/* line 556, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer .signUpBuyer P {
  color: #1CB6D2;
}

/* line 560, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer .signUpProvider P {
  color: #6295D5;
}

/* line 564, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer .signUpBuyer .line, .hiliteContainer .signUpProvider .line {
  margin: 25px 0 10px 0;
  clear: right;
}

/* line 569, ../../../app/stylesheets/partials/_page.scss */
.hiliteContainer .signUpBuyer .mainButtonLight, .hiliteContainer .signUpProvider .mainButton {
  font-size: 14px;
  margin: 10px 6px 30px 0;
}

/* END Content Styles */
/* START Footer Styles */
/* line 580, ../../../app/stylesheets/partials/_page.scss */
#footer {
  background: none repeat scroll 0 0 #F4F4F4;
  border-top: 4px solid #E1E1E1;
  margin: 20px auto 0;
  min-height: 83px;
  width: 100%;
}

/* line 588, ../../../app/stylesheets/partials/_page.scss */
#footerNav {
  width: 100%;
  margin: 20px auto 0;
  background: #F4F4F4;
  min-height: 83px;
  border-top: 4px solid #E1E1E1;
}

/* line 596, ../../../app/stylesheets/partials/_page.scss */
.footerNav {
  margin: auto;
  width: 970px;
  text-align: center;
}

/* line 603, ../../../app/stylesheets/partials/_page.scss */
.footerNav UL {
  margin: 15px auto 0;
  width: 500px;
}

/* line 608, ../../../app/stylesheets/partials/_page.scss */
.footerNav UL LI {
  color: #9E9E9E;
  border-left: 1px solid #9E9E9E;
  padding: 0 8px;
  margin: 10px 0;
  float: left;
}

/* line 616, ../../../app/stylesheets/partials/_page.scss */
.footerNav UL LI.first {
  border-left: none;
}

/* line 620, ../../../app/stylesheets/partials/_page.scss */
.footerNav UL LI A {
  font-size: 10px;
  color: #9E9E9E;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
}

/* line 628, ../../../app/stylesheets/partials/_page.scss */
.legal {
  margin: auto;
  width: 970px;
  text-align: center;
  color: #6295D5;
  font-size: 10px;
}

/* END Footer Styles */
/* START Buttons */
/* main buttons */
/* line 641, ../../../app/stylesheets/partials/_page.scss */
A.mainButton {
  background: transparent url(/images/buttons.png) no-repeat right -33px;
  color: #FFF;
  display: block;
  float: left;
  height: 33px;
  margin: 10px 6px 10px 0;
  padding-right: 7px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

/* line 654, ../../../app/stylesheets/partials/_page.scss */
A.mainButton:hover {
  background: transparent url(/images/buttons.png) no-repeat right -103px;
}

/* line 658, ../../../app/stylesheets/partials/_page.scss */
A.mainButton SPAN {
  background: transparent url(/images/buttons.png) no-repeat left top;
  display: block;
  line-height: 14px;
  padding: 9px 10px 8px 18px;
  height: 33px;
}

/* line 666, ../../../app/stylesheets/partials/_page.scss */
A.mainButton SPAN:hover, A.mainButton:hover SPAN {
  background: transparent url(/images/buttons.png) no-repeat left -70px;
}

/* main buttons for INPUTS */
/* line 671, ../../../app/stylesheets/partials/_page.scss */
SPAN.mainButton {
  background: transparent url(/images/buttons.png) no-repeat right -33px;
  color: #FFF;
  display: block;
  float: left;
  height: 33px;
  margin: 10px 6px 10px 0;
  padding-right: 5px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

/* line 684, ../../../app/stylesheets/partials/_page.scss */
SPAN.mainButton:hover {
  background: transparent url(/images/buttons.png) no-repeat right -103px;
}

/* line 688, ../../../app/stylesheets/partials/_page.scss */
SPAN.mainButton INPUT {
  background: transparent url(/images/buttons.png) no-repeat left top;
  display: block;
  line-height: 14px;
  padding: 6px 8px 10px 15px;
  height: 33px;
  border: none;
  font-size: 11px;
  font-weight: bold;
  color: #FFF;
  text-transform: lowercase;
}

/* line 701, ../../../app/stylesheets/partials/_page.scss */
SPAN.mainButton INPUT:hover, SPAN.mainButton:hover INPUT {
  background: transparent url(/images/buttons.png) no-repeat left -70px;
}

/* main light buttons */
/* line 706, ../../../app/stylesheets/partials/_page.scss */
A.mainButtonLight {
  background: transparent url(/images/buttons.png) no-repeat right -416px;
  color: #FFF;
  display: block;
  float: left;
  height: 33px;
  margin: 10px 6px 10px 0;
  padding-right: 5px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

/* line 719, ../../../app/stylesheets/partials/_page.scss */
A.mainButtonLight:hover {
  background: transparent url(/images/buttons.png) no-repeat right -485px;
}

/* line 723, ../../../app/stylesheets/partials/_page.scss */
A.mainButtonLight SPAN {
  background: transparent url(/images/buttons.png) no-repeat left -383px;
  display: block;
  line-height: 14px;
  padding: 9px 10px 8px 18px;
  height: 33px;
}

/* line 731, ../../../app/stylesheets/partials/_page.scss */
A.mainButtonLight SPAN:hover, A.mainButtonLight:hover SPAN {
  background: transparent url(/images/buttons.png) no-repeat left -452px;
}

/* main light buttons for INPUTS */
/* line 736, ../../../app/stylesheets/partials/_page.scss */
SPAN.mainButtonLight {
  background: transparent url(/images/buttons.png) no-repeat right -416px;
  color: #FFF;
  display: block;
  float: left;
  height: 33px;
  margin: 10px 6px 10px 0;
  padding-right: 5px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

/* line 749, ../../../app/stylesheets/partials/_page.scss */
SPAN.mainButtonLight:hover {
  background: transparent url(/images/buttons.png) no-repeat right -485px;
}

/* line 753, ../../../app/stylesheets/partials/_page.scss */
SPAN.mainButtonLight INPUT {
  background: transparent url(/images/buttons.png) no-repeat left -383px;
  display: block;
  line-height: 14px;
  padding: 6px 8px 10px 15px;
  height: 33px;
  border: none;
  font-size: 11px;
  font-weight: bold;
  color: #FFF;
  text-transform: lowercase;
}

/* line 766, ../../../app/stylesheets/partials/_page.scss */
SPAN.mainButtonLight INPUT:hover, SPAN.mainButtonLight:hover INPUT {
  background: transparent url(/images/buttons.png) no-repeat left -452px;
}

/* secondary buttons */
/* line 773, ../../../app/stylesheets/partials/_page.scss */
A.secondaryButton {
  background: transparent url(/images/buttons.png) no-repeat right -163px;
  color: #FFF;
  display: block;
  float: left;
  height: 24px;
  margin: 14px 6px 6px 0;
  padding-right: 5px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

/* line 786, ../../../app/stylesheets/partials/_page.scss */
A.secondaryButton:hover {
  background: transparent url(/images/buttons.png) no-repeat right -215px;
}

/* line 790, ../../../app/stylesheets/partials/_page.scss */
A.secondaryButton SPAN {
  background: transparent url(/images/buttons.png) no-repeat left -139px;
  display: block;
  line-height: 14px;
  padding: 5px 10px 4px 18px;
  height: 24px;
}

/* line 798, ../../../app/stylesheets/partials/_page.scss */
A.secondaryButton SPAN:hover, A.secondaryButton:hover SPAN {
  background: transparent url(/images/buttons.png) no-repeat left -191px;
}

/* secondary buttons for INPUTS */
/* line 803, ../../../app/stylesheets/partials/_page.scss */
SPAN.secondaryButton {
  background: transparent url(/images/buttons.png) no-repeat right -163px;
  color: #FFF;
  display: block;
  float: left;
  height: 24px;
  margin: 10px 6px 10px 0;
  padding-right: 5px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

/* line 816, ../../../app/stylesheets/partials/_page.scss */
SPAN.secondaryButton:hover {
  background: transparent url(/images/buttons.png) no-repeat right -215px;
}

/* line 820, ../../../app/stylesheets/partials/_page.scss */
SPAN.secondaryButton INPUT {
  background: transparent url(/images/buttons.png) no-repeat left -139px;
  display: block;
  line-height: 14px;
  padding: 3px 7px 6px 13px;
  height: 24px;
  border: none;
  font-size: 11px;
  font-weight: bold;
  color: #FFF;
  text-transform: lowercase;
}

/* line 833, ../../../app/stylesheets/partials/_page.scss */
SPAN.secondaryButton INPUT:hover, SPAN.secondaryButton:hover INPUT {
  background: transparent url(/images/buttons.png) no-repeat left -191px;
}

/* hilite buttons */
/* line 838, ../../../app/stylesheets/partials/_page.scss */
A.hiliteButton {
  background: transparent url(/images/buttons.png) no-repeat right -311px;
  color: #FFF;
  display: block;
  float: left;
  height: 34px;
  margin: 10px 6px 10px 0;
  padding-right: 35px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

/* line 851, ../../../app/stylesheets/partials/_page.scss */
A.hiliteButton:hover {
  background: transparent url(/images/buttons.png) no-repeat right -345px;
}

/* line 855, ../../../app/stylesheets/partials/_page.scss */
A.hiliteButton SPAN {
  background: transparent url(/images/buttons.png) no-repeat left -243px;
  display: block;
  line-height: 14px;
  padding: 9px 10px 8px 18px;
  height: 17px;
}

/* line 863, ../../../app/stylesheets/partials/_page.scss */
A.hiliteButton SPAN:hover, A.hiliteButton:hover SPAN {
  background: transparent url(/images/buttons.png) no-repeat left -277px;
}

/* hilite buttons for INPUTS */
/* line 868, ../../../app/stylesheets/partials/_page.scss */
SPAN.hiliteButton {
  background: transparent url(/images/buttons.png) no-repeat right -311px;
  color: #FFF;
  display: block;
  float: left;
  height: 34px;
  margin: 10px 6px 10px 0;
  padding-right: 35px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

/* line 881, ../../../app/stylesheets/partials/_page.scss */
SPAN.hiliteButton:hover {
  background: transparent url(/images/buttons.png) no-repeat right -345px;
}

/* line 885, ../../../app/stylesheets/partials/_page.scss */
SPAN.hiliteButton INPUT {
  background: transparent url(/images/buttons.png) no-repeat left -243px;
  display: block;
  line-height: 14px;
  padding: 7px 8px 10px 14px;
  height: 34px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-transform: lowercase;
  font-family: Trebuchet MS,Arial,Helvetica;
}

/* line 899, ../../../app/stylesheets/partials/_page.scss */
SPAN.hiliteButton INPUT:hover, SPAN.hiliteButton:hover INPUT {
  background: transparent url(/images/buttons.png) no-repeat left -277px;
}

/* General Buttons */
/* line 904, ../../../app/stylesheets/partials/_page.scss */
.rowButton {
  background: #F9F8F8;
}

/* line 908, ../../../app/stylesheets/partials/_page.scss */
.rowButton .mainButton {
  margin: 0 20px 20px;
}

/* line 912, ../../../app/stylesheets/partials/_page.scss */
.rowButton SPAN.buttonMsg {
  margin-top: 11px;
  float: left;
}

/* END Buttons */
/* START Titles */
/* line 921, ../../../app/stylesheets/partials/_page.scss */
H1, H2 {
  color: #1CB6D2;
  font-size: 18px;
  padding: 0 0 5px 0;
}

/* line 927, ../../../app/stylesheets/partials/_page.scss */
H3 {
  color: #9E9E9E;
  font-size: 18px;
  padding: 5px 0;
}

/* line 933, ../../../app/stylesheets/partials/_page.scss */
H3 > SPAN, H2 > SPAN {
  color: #1CB6D2;
  font-size: 14px;
  font-weight: normal;
}

/* line 939, ../../../app/stylesheets/partials/_page.scss */
H4 {
  color: #1CB6D2;
  font-size: 14px;
  padding: 5px 0;
}

/* line 945, ../../../app/stylesheets/partials/_page.scss */
H5 {
  color: #9E9E9E;
  font-size: 14px;
  padding: 5px 0;
}

/* END Titles */
/* START Landing Page */
/* line 957, ../../../app/stylesheets/partials/_page.scss */
.landing body {
  font-size: 1.2em;
}
/* line 961, ../../../app/stylesheets/partials/_page.scss */
.landing .logo {
  margin-bottom: 15px;
}
/* line 967, ../../../app/stylesheets/partials/_page.scss */
.landing h1, .landing h2, .landing h3, .landing h4, .landing h5, .landing h6 {
  font-family: "droid-serif-1", "droid-serif-2", serif;
  font-weight: bold;
  font-size: 1.3em;
}
/* line 973, ../../../app/stylesheets/partials/_page.scss */
.landing h2, .landing h3, .landing h4 {
  color: #202020;
}
/* line 977, ../../../app/stylesheets/partials/_page.scss */
.landing #top-nav {
  padding: 15px;
  text-align: right;
}
/* line 982, ../../../app/stylesheets/partials/_page.scss */
.landing #container {
  margin: 0 auto 30px;
  width: 970px;
  padding: 0px;
}
/* line 984, ../../../app/stylesheets/partials/_page.scss */
.landing #container ul {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  padding: 20px;
  list-style: none;
}
/* line 991, ../../../app/stylesheets/partials/_page.scss */
.landing header {
  text-align: center;
}
/* line 993, ../../../app/stylesheets/partials/_page.scss */
.landing header h1 {
  color: #000;
  font-size: 2.8em;
}
/* line 999, ../../../app/stylesheets/partials/_page.scss */
.landing #main {
  padding: 20px;
}
/* line 1001, ../../../app/stylesheets/partials/_page.scss */
.landing #main p {
  font-size: 1.1em;
}
/* line 1004, ../../../app/stylesheets/partials/_page.scss */
.landing #footer {
  margin-top: 70px;
}

/* END Landing Page */
@media print {
  /* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 27, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 29, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 34, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 35, ../../../../../../../.rvm/gems/ruby-1.9.2-p136@forcegrid/gems/html5-boilerplate-0.3.2/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
