<h3>Jobs >></h3>
<div class="line"></div>
<% unless @jobs.empty? -%>
    <% @jobs.each_pair do |category, jobs| %>
        <% content_tag :div, :class => 'category', :id => category.id do -%>
            <% for item in jobs -%>
            <div class="item">
                <p><strong><%= item.title %></strong></p>
                <p>Budget: Less than $<%= item.budget.to_i %></p>
            </div>
            <% end -%>
        <% end -%>
    <% end -%>
<% else -%>
    <p>No Jobs submitted yet</p>
<% end -%>