	<div class="firstCol">
		<div class="gradientBlue">
		<h1>What do you need to get done</h1>
		<span class="arrow"></span>
		<div class="roundcont">
		   <div class="roundtop">
			 <img src="/images/box_gradientBlue_tl.png" alt="" width="15" height="81" class="corner" style="display: none" />
		   </div>

		  <div class="boxContent">
      <div class="tagCloud">
        <span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>&nbsp;<span><a href="#">Tag Cloud Link</a></span>
      </div>
    </div>
		  
		</div>	
	</div>
	</div>
	<div class="midCol">
		<div class="borderBgWhite boxNoTitleIndex">
		<span class="arrow"></span>
		<div class="roundcont">
		   <div class="roundtop">
			 <img src="/images/box_borderBgWhite_tl.png" alt="" width="15" height="15" class="corner" style="display: none" />
		   </div>

		   <div class="boxContent">
     
      <div class="jobsPros clearfix">
      
        <div class="jobs">
          <h3>Jobs >></h3>
          <div class="line"></div>
            <div class="item">
              <p><strong>Trademarking</strong></p>
              <p>Budget: Less than $500</p>
            </div>
             <div class="item">
              <p><strong>Trademarking</strong></p>
              <p>Budget: Less than $500</p>
            </div>
             <div class="item">
              <p><strong>Trademarking</strong></p>
              <p>Budget: Less than $500</p>
            </div>
             <div class="item">
              <p><strong>Trademarking</strong></p>
              <p>Budget: Less than $500</p>
            </div>
             <div class="item">
              <p><strong>Trademarking</strong></p>
              <p>Budget: Less than $500</p>
            </div>
             <div class="item">
              <p><strong>Trademarking</strong></p>
              <p>Budget: Less than $500</p>
            </div>
        </div>
        <div class="pros">
          <h3>IT Pros >></h3>
          <div class="line"></div>
          <div class="imageItem clearfix">
            <img src="/images/defaultImg33x33_user.png" class="avatarSmall" />
            <div class="itemInfo">
                <p><strong>Sino Commerce Ser...</strong></p>
                <p>We Believe In Quality And Satisfactio... </p>
            </div>
          </div>
          
          <div class="imageItem clearfix">
            <img src="/images/defaultImg33x33_user.png" class="avatarSmall" />
            <div class="itemInfo">
                <p><strong>Sino Commerce Ser...</strong></p>
                <p>We Believe In Quality And Satisfactio... </p>
            </div>
          </div>
          
          <div class="imageItem clearfix">
            <img src="/images/defaultImg33x33_user.png" class="avatarSmall" />
            <div class="itemInfo">
                <p><strong>Sino Commerce Ser...</strong></p>
                <p>We Believe In Quality And Satisfactio... </p>
            </div>
          </div>
          
          <div class="imageItem clearfix">
            <img src="/images/defaultImg33x33_user.png" class="avatarSmall" />
            <div class="itemInfo">
                <p><strong>Sino Commerce Ser...</strong></p>
                <p>We Believe In Quality And Satisfactio... </p>
            </div>
          </div>
          
        </div>
      </div>
     
     </div>
		  
		   <div class="roundbottom">
			 <img src="/images/box_borderBgWhite_bl.png" alt="" width="15" height="15" class="corner" style="display: none" />
		   </div>
		</div>	
	</div>
	</div>
	<div class="lastCol">
	
	<div class="gradientGray">
		<h3>Case Study</h3>
		<span class="arrow"></span>
		<div class="roundcont">
    <div class="roundtop">
			 <img src="/images/box_gradientGray_tl.png" alt="" width="15" height="81" class="corner" style="display: none" />
		  </div>
    
    <div class="boxContent">
      <div class="caseStudy">
        <span class="commentIco">&nbsp;</span>
          <div class="comment">
		         <p>Without the marketplace , I wouldn´t be able to run my own business, I love the diversity of service request i receive from the platform</p>
		        </div>
          <div class="author">
            <p>Paul Garmendia, OWNER</p>
            <p>High Tech desktop repair</p>
          </div>
		        <div class="clearfix"><a class="mainButton" href="postJob.html"><span>Post your job</span></a></div>
			    <div><a href="#">View More >></a></div>
      </div>
     </div>
    </div>
  </div>
</div>