@import "compass/css3";
@import "blueprint/buttons";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  font-family: $droid-sans;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-family: $droid-serif;
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; text-decoration: none;}
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------


@mixin centrado-970px {
  margin: 0 auto 30px;
  width: 970px;
  padding: 0px;
}

body {
  font-size: 1.2em;
}

#top-nav {
  padding: 15px;
  text-align: right;
}

#container {
  @include centrado-970px;
}

#header {
	width: 970px;
	margin: auto;
	min-height: 120px;
}

#main {
  padding: 20px;
  p { font-size: 0.8em;}

  #join-button {
    @include anchor-button;
  }
  min-height: 450px;
}

/* START Header Styles */

.headerTop {
	border-bottom: 4px solid #6295D5;
	padding-bottom: 5px;
	background-image: url('../images/box_gradientBlue_bg.png');
}

.headerTop .logo {
	float: left;
}

.headerTop .logo IMG {
	margin: 10px 10px 10px 15px; 
}

.headerTop .headerRightContent {
	float: right;
}

.headerTop .headerRightContent .headerSecNav {
	height: 52px;
}

.headerTop .headerRightContent .headerSecNav UL {
	float: right;
}

.headerTop .headerRightContent .headerSecNav UL LI {
	float: left;
	color: #959595;
	border-left: 1px solid #9E9E9E;
	padding: 0 8px;
	margin: 20px 0;
}

.headerTop .headerRightContent .headerSecNav UL LI.first {
	border-left: none;
}

.headerTop .headerRightContent .headerSecNav.noLogued UL LI.first.login {
	background: url(../images/smallIcons.png) no-repeat -63px -5px;
	padding-left: 15px;
}

.headerTop .headerRightContent .headerSecNav UL LI A {
	font-size: 11px;
	color: #9E9E9E;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none; 
}

.headerTop .headerRightContent .headerSecNav.noLogued UL LI A {
	font-weight: bold;
	text-transform: capitalize;
}

.headerTop .headerRightContent .headerSecNav UL LI A:hover {
	text-decoration: underline; 
}

.headerTop .headerRightContent .search SPAN.mainHilite, .headerTop .headerRightContent .search INPUT {
	float: left;
}

.headerTop .headerRightContent .search SPAN.mainHilite {
	margin: 7px 0 5px;
}

.headerTop .headerRightContent .search INPUT {
	margin: 7px 10px 5px;
	border: 1px solid #1CB6D2;
	color: #5F5F5F;
}

.headerTop .headerRightContent .search SPAN.hiliteButton {
	margin: 0 0 5px;
}

.headerTop .headerRightContent .search SPAN.hiliteButton INPUT {
	margin: 0!important;
	border: none !important;
	color: #FFF !important;
}

.headerMainNav {
	width: 100%;
	background: #1CB6D2;
	font-size: 11px;
	text-align: left;
	border-top: 1px solid #FFF;
	min-height: 33px;
	position: relative;
}

.headerMainNav .left {
	background: #1CB6D2 url(../images/backgrounds.png) no-repeat;
	height: 33px;
	width: 7px;
	left: 0;
	position: absolute;
	bottom: 0;
}

.headerMainNav .right {
	background: #1CB6D2 url(../images/backgrounds.png) no-repeat -7px;
	height: 33px;
	width: 7px;
	right: 0;
	position: absolute;
	bottom: 0;
}

.headerMainNav UL {
	margin: 10px;
}

.headerMainNav UL LI {
	float: left;
	color: #FFF;
	border-left: 1px solid #FFF;
	padding: 0 12px;
	font-weight: bold;
}

.headerMainNav UL LI A {
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
}

.headerMainNav UL LI A:hover {
	text-decoration: underline;
}

.headerMainNav UL LI.first {
	border-left: none;
}

.headerMainNav P {
	margin: 10px 20px;
	color: #FFF;
	font-size: 12px;
}

/* END Header Styles */

/* START Content Styles */

#content {
	width: 970px;
	margin: auto;
	background: #FFF;
	min-height: 450px;
}

.firstCol, .lastCol, .midCol {
	padding: 20px 0;
}

.singleCol .firstCol {
	width: 970px;
	display: block;
}

.col2 .firstCol {
	width: 700px;
	margin: 0 20px 0 0;
	float: left;
}

.col2 .lastCol {
	width: 250px;
	float: left;
	margin: 0;
}

.col2b .firstCol {
	width: 250px;
	margin: 0 20px 0 0;
	float: left;
}

.col2b .lastCol {
	width: 700px;
	float: left;
	margin: 0;
}

.col3 .firstCol {
	width: 250px;
	float: left;
	margin: 0;
}

.col3 .midCol {
	width: 430px;
	margin: 0 20px 0;
	float: left;
}

.col3 .lastCol {
	width: 250px;
	float: left;
	margin: 0;
}

.hiliteContent {
  background: url(../images/bg_grayBottom.gif) repeat-x bottom;
  min-height: 300px;
}

.hiliteContainer {
  width:784px; 
  margin: 20px auto 0;
}

.hiliteContainer .signUpBuyer {
  float:left; 
  width:380px;
}

.hiliteContainer .signUpProvider {
  float:right; 
  width:380px;
}

.hiliteContainer .signUpBuyer .gradientBlue, .hiliteContainer .signUpProvider .gradientDarkBlue {
  border-bottom: none;
}

.hiliteContainer .signUpBuyer P, .hiliteContainer .signUpProvider P {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 10px;
}

.hiliteContainer .signUpBuyer P{
  color: #1CB6D2;
}

.hiliteContainer .signUpProvider P {
  color: #6295D5;
}

.hiliteContainer .signUpBuyer .line, .hiliteContainer .signUpProvider .line {
  margin: 25px 0 10px 0;
  clear: right;
}

.hiliteContainer .signUpBuyer .mainButtonLight, .hiliteContainer .signUpProvider .mainButton {
  font-size: 14px;
  margin: 10px 6px 30px 0;
}


/* END Content Styles */


/* START Footer Styles */

#footer {
	width: 100%;
	margin: 20px auto 0;
	background: #F4F4F4;
	min-height: 83px;
	border-top: 4px solid #E1E1E1;
	}

.footerNav {
	margin: auto;
	width: 970px;
	text-align: center;

}

.footerNav UL {
	margin: 15px auto 0;
	width: 500px;
}

.footerNav UL LI {
	color: #9E9E9E;
	border-left: 1px solid #9E9E9E;
	padding: 0 8px;
	margin: 10px 0;
	float: left;
}

.footerNav UL LI.first {
	border-left: none;
}

.footerNav UL LI A {
	font-size: 10px;
	color: #9E9E9E;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none; 
}

.legal {
	margin: auto;
	width: 970px;
	text-align: center; 
	color: #6295D5;
	font-size: 10px;
}

/* END Footer Styles */

/* START Buttons */

/* main buttons */
A.mainButton {
    background: transparent url(../images/buttons.png) no-repeat right -33px;
    color: #FFF;
    display: block;
    float: left;
    height: 33px;
	margin: 10px 6px 10px 0;
    padding-right: 7px;
    text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

A.mainButton:hover {
    background: transparent url(../images/buttons.png) no-repeat right -103px;
}

A.mainButton SPAN {
    background: transparent url(../images/buttons.png) no-repeat left top;
    display: block;
    line-height: 14px;
    padding: 9px 10px 8px 18px;
	height: 33px;
}

A.mainButton SPAN:hover, A.mainButton:hover SPAN {
    background: transparent url(../images/buttons.png) no-repeat left -70px;
}

/* main buttons for INPUTS */
SPAN.mainButton {
  background: transparent url(../images/buttons.png) no-repeat right -33px;
  color: #FFF;
  display: block;
  float: left;
  height: 33px;
	margin: 10px 6px 10px 0;
  padding-right: 5px;
  text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

SPAN.mainButton:hover {
	background: transparent url(../images/buttons.png) no-repeat right -103px;
}

SPAN.mainButton INPUT {
  background: transparent url(../images/buttons.png) no-repeat left top;
  display: block;
  line-height: 14px;
  padding: 6px 8px 10px 15px;
	height: 33px;
	border: none;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-transform: lowercase;
}

SPAN.mainButton INPUT:hover, SPAN.mainButton:hover INPUT {
    background: transparent url(../images/buttons.png) no-repeat left -70px;
}

/* main light buttons */
A.mainButtonLight {
  background: transparent url(../images/buttons.png) no-repeat right -416px;
  color: #FFF;
  display: block;
  float: left;
  height: 33px;
	margin: 10px 6px 10px 0;
  padding-right: 5px;
  text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

A.mainButtonLight:hover {
    background: transparent url(../images/buttons.png) no-repeat right -485px;
}

A.mainButtonLight SPAN {
  background: transparent url(../images/buttons.png) no-repeat left -383px;
  display: block;
  line-height: 14px;
  padding: 9px 10px 8px 18px;
	height: 33px;
}

A.mainButtonLight SPAN:hover, A.mainButtonLight:hover SPAN {
    background: transparent url(../images/buttons.png) no-repeat left -452px;
}

/* main light buttons for INPUTS */
SPAN.mainButtonLight {
    background: transparent url(../images/buttons.png) no-repeat right -416px;
    color: #FFF;
    display: block;
    float: left;
    height: 33px;
	margin: 10px 6px 10px 0;
    padding-right: 5px;
    text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

SPAN.mainButtonLight:hover {
	background: transparent url(../images/buttons.png) no-repeat right -485px;
}

SPAN.mainButtonLight INPUT {
    background: transparent url(../images/buttons.png) no-repeat left -383px;
    display: block;
    line-height: 14px;
    padding: 6px 8px 10px 15px;
	height: 33px;
	border: none;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-transform: lowercase;
}

SPAN.mainButtonLight INPUT:hover, SPAN.mainButtonLight:hover INPUT {
    background: transparent url(../images/buttons.png) no-repeat left -452px;
}



/* secondary buttons */
A.secondaryButton {
    background: transparent url(../images/buttons.png) no-repeat right -163px;
    color: #FFF;
    display: block;
    float: left;
    height: 24px;
	margin: 14px 6px 6px 0;
    padding-right: 5px;
    text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

A.secondaryButton:hover {
    background: transparent url(../images/buttons.png) no-repeat right -215px;
}

A.secondaryButton SPAN {
    background: transparent url(../images/buttons.png) no-repeat left -139px;
    display: block;
    line-height: 14px;
    padding: 5px 10px 4px 18px;
  	height: 24px;
}

A.secondaryButton SPAN:hover, A.secondaryButton:hover SPAN {
    background: transparent url(../images/buttons.png) no-repeat left -191px;
}

/* secondary buttons for INPUTS */
SPAN.secondaryButton {
    background: transparent url(../images/buttons.png) no-repeat right -163px;
    color: #FFF;
    display: block;
    float: left;
    height: 24px;
	margin: 10px 6px 10px 0;
    padding-right: 5px;
    text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

SPAN.secondaryButton:hover {
    background: transparent url(../images/buttons.png) no-repeat right -215px;
}

SPAN.secondaryButton INPUT {
    background: transparent url(../images/buttons.png) no-repeat left -139px;
    display: block;
    line-height: 14px;
    padding: 3px 7px 6px 13px;
	height: 24px;
	border: none;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	text-transform: lowercase;
}

SPAN.secondaryButton INPUT:hover, SPAN.secondaryButton:hover INPUT {
    background: transparent url(../images/buttons.png) no-repeat left -191px;
}

/* hilite buttons */
A.hiliteButton {
	background: transparent url(../images/buttons.png) no-repeat right -311px;
    color: #FFF;
    display: block;
    float: left;
    height: 34px;
	margin: 10px 6px 10px 0;
    padding-right: 35px;
    text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

A.hiliteButton:hover {
    background: transparent url(../images/buttons.png) no-repeat right -345px;
}

A.hiliteButton SPAN {
	background: transparent url(../images/buttons.png) no-repeat left -243px;
    display: block;
    line-height: 14px;
    padding: 9px 10px 8px 18px;
	height: 17px;
}

A.hiliteButton SPAN:hover, A.hiliteButton:hover SPAN {
    background: transparent url(../images/buttons.png) no-repeat left -277px;
}

/* hilite buttons for INPUTS */
SPAN.hiliteButton {
	background: transparent url(../images/buttons.png) no-repeat right -311px;
    color: #FFF;
    display: block;
    float: left;
    height: 34px;
	margin: 10px 6px 10px 0;
    padding-right: 35px;
    text-decoration: none;
	text-transform: lowercase;
	font-weight: bold;
}

SPAN.hiliteButton:hover {
    background: transparent url(../images/buttons.png) no-repeat right -345px;
}

SPAN.hiliteButton INPUT {
	background: transparent url(../images/buttons.png) no-repeat left -243px;
    display: block;
    line-height: 14px;
    padding: 7px 8px 10px 14px;
	height: 34px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-transform: lowercase;
	font-family: Trebuchet MS,Arial,Helvetica;
}

SPAN.hiliteButton INPUT:hover, SPAN.hiliteButton:hover INPUT {
    background: transparent url(../images/buttons.png) no-repeat left -277px;
}

/* General Buttons */
.rowButton { 
	background: #F9F8F8; 
}

.rowButton .mainButton { 
	margin: 0 20px 20px;
}

.rowButton SPAN.buttonMsg { 
	margin-top: 11px; 
	float: left;
}

/* END Buttons */

/* START Titles */

H1, H2 {
	color: #1CB6D2;
	font-size: 18px;
	padding: 0 0 5px 0;
}

H3 {
	color: #9E9E9E;
	font-size: 18px;
	padding: 5px 0;
}

H3 > SPAN, H2 > SPAN {
	color: #1CB6D2;
	font-size: 14px;
	font-weight: normal;
}

H4 {
	color: #1CB6D2;
	font-size: 14px;
	padding: 5px 0;
}

H5 {
	color: #9E9E9E;
	font-size: 14px;
	padding: 5px 0;
}

/* END Titles */


/* START Landing Page */

.landing {
  body {
    font-size: 1.2em;
  }

  #top-nav {
    font-size: 0.75em;
    padding: 15px;
    text-align: right;
  }

  #container {
    @include centrado-970px;
    ul {
      @include column-count(3);
      padding: 20px;
      list-style: none;
    }
  }

  header {
    text-align: center;
    h1 {
      color: #000;
      font-size: 2.8em;
    }
  }

  #main {
    padding: 20px;
    p { font-size: 0.8em;}
  
    #join-button {
      @include anchor-button;
    }
  }

  footer {
    @include centrado-970px;
  }
}

/* END Landing Page */