@import "compass/css3";
@import "blueprint/buttons";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  font-family: $droid-sans;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-family: $droid-serif;
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; text-decoration: none;}
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

// Estilos para todos los layouts

@mixin centrado-970px {
  margin: 0 auto 30px;
  width: 970px;
  padding: 0px;
}

body {
  font-size: 1.2em;
}

#top-nav {
  padding: 15px;
  text-align: right;
}

#container {
  @include centrado-970px;
}

#header {
	width: 970px;
	margin: auto;
	min-height: 120px;
}

#main {
  padding: 20px;
  p { font-size: 0.8em;}

  #join-button {
    @include anchor-button;
  }
  min-height: 450px;
}

/* START Header Styles */
.headerTop {
.headerMainNav {
	width: 100%;
	background: #1CB6D2;
	font-size: 11px;
	text-align: left;
	border-top: 1px solid #FFF;
	min-height: 33px;
	position: relative;
  .left {
  	background: #1CB6D2 url(../images/backgrounds.png) no-repeat;
  	height: 33px;
  	width: 7px;
  	left: 0;
  	position: absolute;
  	bottom: 0;
  }
  .right {
  	background: #1CB6D2 url(../images/backgrounds.png) no-repeat -7px;
  	height: 33px;
  	width: 7px;
  	right: 0;
  	position: absolute;
  	bottom: 0;
  }
  UL {
  	margin: 10px;
    LI {
    	float: left;
    	color: #FFF;
    	border-left: 1px solid #FFF;
    	padding: 0 12px;
    	font-weight: bold;
      A {
      	color: #FFF;
      	text-transform: uppercase;
      	text-decoration: none;
      }
      A:hover {
      	text-decoration: underline;
      }      
      .first {
      	border-left: none;
      }
    }
  }
  P {
  	margin: 10px 20px;
  	color: #FFF;
  	font-size: 12px;
  }
}
/* END Header Styles */

/* START Two Col Template Styles */
.firstCol {
  
}

.lastCol {
  
}
/* END Two Col Template Styles */

/* START Footer Styles */
footer {
  @include centrado-970px;
	background: #F4F4F4;
	min-height: 83px;
	border-top: 4px solid #E1E1E1;
}
.footerNav {
  @include clearfix;
	margin: auto;
	width: 970px;
	text-align: center;
  UL {
	margin: 15px auto 0;
	width: 500px;
  LI {
  	color: #9E9E9E;
  	border-left: 1px solid #9E9E9E;
  	padding: 0 8px;
  	margin: 10px 0;
  	float: left;
    .first {
    	border-left: none;
    }
    A {
    	font-size: 10px;
    	color: #9E9E9E;
    	text-transform: uppercase;
    	font-weight: normal;
    	text-decoration: none; 
    }
  }
}
}
.legal {
	margin: auto;
	width: 970px;
	text-align: center; 
	color: #6295D5;
	font-size: 10px;
}
/* END Footer Styles */

// Estilos sólo para los del landing page

.landing {
  body {
    font-size: 1.2em;
  }

  #top-nav {
    padding: 15px;
    text-align: right;
  }

  #container {
    @include centrado-970px;
    ul {
      @include column-count(3);
      padding: 20px;
      list-style: none;
    }
  }

  header {
    text-align: center;
    h1 {
      color: #000;
      font-size: 2.8em;
    }
  }

  #main {
    padding: 20px;
    p { font-size: 0.8em;}
  
    #join-button {
      @include anchor-button;
    }
  }

  footer {
    @include centrado-970px;
  }
}