<div class="skill">
    <%= select "category", "category_id", Category.main.collect {|p| [ p.name, p.id ] }, :length => '35', :prompt => 'Select Category' %>
    <%= select "subcategory", "subcategory_id", {}, :include_blank => false, :length => '35', :prompt => 'Select Subcategory' %>
    <%= s.collection_select :skill_id, {}, :id, :name, :include_blank => false, :rows => 10, :length => '35', :prompt => 'Select Skill' %>
    <%= link_to "Remove Skill", "#", :class => 'remove' %>
    <br />
</div>