.footerNav.clearfix
  %ul
    %li.first
      %a{:href => "#"} About Us
    %li
      %a{:href => "#"} Contact
    %li
      %a{:href => "#"} Blog
    %li
      %a{:href => "#"} Community
    %li
      %a{:href => "#"} Careers
    %li
      %a{:href => "#"} Terms and Conditions
.legal
  2011 - Forcegrid.com - All rights reserved.