.headerTop.clearfix
  .logo
    %a{:href => root_url }
      %img{:alt => "ForceGrid", :src => "/images/logo_forceGrid.png"}/
  .headerRightContent
    - unless current_user
      .headerSecNav.noLogued.clearfix  
        %ul
          %li.first
            %a{:href => new_user_session_path} Login
    - else
      .headerSecNav.clearfix
        %ul.clearfix
          %li.first 
            Hello #{h current_user.owner.full_name}
          %li
            %a{:href => destroy_user_session_path} Logout
.headerMainNav.clearfix
  %span.left  
  %ul
    %li.first
      %a{:href => "#"} Why us
    %li
      %a{:href => "#"} How we work
    %li
      %a{:href => "#"} Resources
    %li
      %a{:href => "#"} About us
  %span.right