.headerTop.clearfix
  .logo
    %a{:href => root_url }
      %img{:alt => "ForceGrid", :src => "/images/logo_forceGrid.png"}/
  .headerRightContent
    .headerSecNav
      %ul
        %li.first
          %a{:href => "#"} Dashboard
        %li
          %a{:href => "#"} Inbox
        %li
          %a{:href => "#"} My Settings
        %li
          %a{:href => "#"} Blog
        %li
          %a{:href => "#"} Help
        %li
          %a{:href => "#"} Logout
.headerMainNav.clearfix
  %span.left  
  %ul
    %li.first
      %a{:href => "#"} Why us
    %li
      %a{:href => "#"} How we work
    %li
      %a{:href => "#"} Resources
    %li
      %a{:href => "#"} About us
  %span.right