<% form_tag jobs_path, :method => 'get' do %>
    <span class="mainHilite">Search:</span>
    <%= text_field_tag :search, "Search Prefessional" %>
    <span class="hiliteButton"><input type="submit" value="search" /></span>
<% end %>